<!doctype html>
<html>
    <head>
       <link rel="stylesheet" href="/{{version}}/css/style.css">
    </head>

    <body>
        <form action="{{x}}" method="post">
           <label>
              <span>Comment:</span>
              <textarea name="comment" placeholder="What do you want to say?"></textarea>
           </label>
           <label>
              <span>Post as:</span>
              <select name="service">
                 <option>facebook</option>
                 <option>twitter</option>
                 <option>google</option>
              </select>
           </label>
        </form>
    </body>
</html>
